#wrapper {
    width: 100%;
}
#page-wrapper {
    padding:5em 2em 2.5em;
	background-color: #F1F1F1;
}
.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f105";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
	margin-bottom: 0;
}

.sidebar .nav-second-level li a {
	padding:10px 0;
    padding-left: 65px;
    font-size: .9em;
}
.sidebar .nav-third-level li a {
    padding-left: 52px;
}
.search-md {
    width: 98%;
    height: 35px;
    margin-top: 2px;
    border: 1px solid rgb(151, 150, 150);
    border-radius: 8px;
}
.img-icon {
    width: 25px;
    height: 25px;
    margin-left: 3px;
}
.download {
    margin-top:2px;
}
.filter {
    margin-top:3px;
}
.icon-md {
    margin-left: -7.5px;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #ff1900;
  border-radius: 8px;
  /* background-color: #ff1900; */
  cursor: pointer;
  display: flex;
  align-self: center;
  font-weight: 400;
  text-decoration: none;
}
.icon-md span {
    font-size: 10pt;
    margin-top: 33px;
    margin-left: -32px;
}
.nav-mitra {
    margin:auto;
    text-align: center;
    width: 100%;

}

.nav-mitra ul ul {
    display: none;
}

.nav-mitra ul li:hover > ul{
    display: block;
    width: 250px;
    text-align: left;
    margin-top: 5px;
}

.nav-mitra ul li:hover > a{
    background:green;
    color: white;
}

.nav-mitra ul li a:hover{
    color:rgb(255, 255, 255);
}

.nav-mitra ul ul li a:hover{
    background-color: green;
}

hover-box:hover {
  background-color:green ;
}

.nav-mitra ul {
    background: #ffffff;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
    box-shadow: 3px 3px rgb(223, 223, 223);
    border-radius: 10px;
    background-color: green;
}

.nav-mitra ul:after {
    content: "";
    clear:both;
    display: block;
}

.nav-mitra ul li{
    float:left;
}

.nav-mitra ul li a{
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
}
.nav-mitra ul li a img{
    width: 30px;
    height: 30px;
}
.home img{
    margin-top: 8px;
    float: right;
    width: 30px;
    height: 30px;

}

.nav-mitra ul ul{
    background: #ffffff;
    border-radius: 10px;
    padding: 0;
    position: absolute;
    top:100%;
}

.nav-mitra ul ul li{
    float:none;
    border-top: 1px soild green;
    border-bottom: 5px solid #F1F1F1;
    position: relative;
    border-radius: 10px;
}

.nav-mitra ul ul li a{
    color: #3cac09;
    font-weight: bold;
}

.nav-mitra ul ul ul{
    position: absolute;
    left: 100%;
    top: 0;
}

.title-menu {
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(223, 223, 223);
}
/* Add Detail Production Partner */
.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-data {
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 3px 3px rgb(223, 223, 223);
}

.title-desc {
    padding: 0 20px;
    padding-top: 10px;
    margin-left: 22px;
    padding-bottom: 10px;
}
.title-desc a {
    font-size: 10pt;
    text-decoration:underline;
}
.title-desc h3 {
    font-weight: bold;
}

.table-mitra {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 2px;
}
.header {
    width: 98.5%;
}
.title-header {
    padding-left: 40px;
    padding-top: 20px;
    margin-bottom: 20px;
    float: left;
    width: 50%;
    margin-top: 20px;
}
.icon-header {
    width: 50%;
    float: right;
}
.position__right {
    padding: 0 20px;
    padding-top: 20px;
    float: right;
    display: flex;
    align-items: center;
}
.icon-header-right {
    margin-left: 10px;
    text-align: center;
}

.icon-header-right img{
    margin-left: 15px;
    width: 35px;
    padding: 6px;
    border-radius: 5px;
}
.desc__ {
    margin-left: 15px;
    margin-bottom: 20px;
}
.desc__ span {
    font-size: 10pt;
}

.desc__upload {
    margin-left: -2px;
}
.desc__filter {
    margin-left: 7px;
}

.search {
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 12pt;
    height: 35px;
    font-style: italic;
    margin-bottom: 40px;
}
.table1 {
    font-family: sans-serif;
    background-color: white;
    border-collapse: collapse;
    width: 96%;
    margin: auto;
    border-radius: 10px;
}

.table1 .thead{
    background: #4c9b4c;
    color: rgb(63, 63, 63);
    font-weight: normal;
    height: 70px;
}
.table1 .thead th span{
    padding: 10px;
    padding-right: 60px;
    background-color: white;
    border-radius: 5px;
}
.table1 .thead .th-no span{
    padding: 10px;
    text-align: center;
}
.table1 .thead .th-action span{
    padding: 10px 18px 10px 18px;
    text-align: center;
}

/* Scroll Tabel */
.table-scroll {
    max-height: 250px;
    max-width: 100%;
    overflow:auto;  
}

/* Table Custom */
.table-custom thead tr{
    background-color: rgb(80, 170, 77);
}
.table-custom tbody tr .no {
    text-align: center;
}
.th {
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 5px
}

.border-side-1 {
    border-radius: 10px 0px 0px 10px;
}
.border-side-2 {
    border-radius: 0px 10px 10px 0px;
}
.th-no {
    width: 100%;
    background-color: white;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    text-align: center;
}
.th-action {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.td-action {
    text-align: center;
}
.td-action a{
    background-color: rgb(247, 44, 128);
    color: white;
}
.td-action a:hover {
    background-color: rgb(206, 0, 86);
    color: white;
}
.table1 {
    font-family: sans-serif;
    background-color: white;
    border-collapse: collapse;
    width: 96%;
    margin: auto;
    border-radius: 10px;
}

.td-no {
    text-align: center;
}
.td-action {
    text-align: center;
}
.td-action a {
    background-color: rgba(255, 36, 72, 0.801);
    padding: 8px 18px 8px 18px;
    border-radius: 8px;
    color: white;
}

.table1, th, td {
    padding: 20px 20px;
    text-align: left;
    font-size: 10pt;
}
.detail tr td input {
    border: 1px solid rgb(231, 224, 224);
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    font-style: normal;
}
.detail tr td textarea{
    width: 100%;
    height: 160px;
    padding: 20px;
    text-align: justify;
    border: 1px solid rgb(231, 224, 224);
    border-radius: 8px;
    font-style: normal;
}
.detail tr td {
    font-style: italic;
}

@media(min-width:768px){
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }


}
@media (max-width:768px) {
    .nav-mitra ul li a img{
        width: 20px;
        height: 20px;
    }
    .nav-mitra ul li a{
        font-size: 10pt;
        margin-left: -10px;
    }
    .home {
        margin-left: 10px;
    }
    .title-desc {
        padding: 0 15px;
        padding-top: 10px;
        margin-left: 0px;
        padding-bottom: 10px;
    }
    .table1 .thead th span{
        font-size: 10pt;
        padding: 10px;
        padding-right: 10px;
    }
}
