/* For all size device type */

/* row reset */
.row {
    margin-right: -15px !important;
    margin-left: -15px !important;
}

/* Glyphicon */
.glyphicon {
    color: inherit;
}

.shadow-custom {
    box-shadow: 0px 0px 5px -2px rgb(0 0 0 / 75%)
}

/* Card Custom */
.card-custom {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 5px -2px rgb(0 0 0 / 75%)
}

.card-custom-body {
    flex: 1 1 auto;
    padding: 1rem;
}

.card-custom-title {
    margin-bottom: 0.5rem;
}

.card-custom-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    width: 100%;
    object-fit: cover;
}

.map-inner {
    width: 80%;
    z-index: 9999;
    position: absolute;
}

.button-maps {
    color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #0d6efd;
    border-radius: 100% !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    margin-bottom: .5rem;
}

.button-maps:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.searchbox-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    box-shadow: 0px 0px 5px -2px rgb(0 0 0 / 75%);
    margin: 10px;
}

.searchbox-input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: 0.25rem 0 0 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.searchbox-button {
  background-color: #fff;
  border-radius: 0 0.25rem 0.25rem 0 ;
}

._d-flex {
    display: flex;
}

.btn-rojoku-store-wrapper {
    margin: 10px;
    padding: 0 !important;
}

.btn-rojoku-store {
    color: #000!important;
    background-color: #fff;
    display: flex;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: 0.3rem 0.8rem;
    font-size: .875rem;
    margin-bottom: .5rem;
    box-shadow: 0px 0px 5px -2px rgb(0 0 0 / 75%);
}

.btn-icon-rojoku-store {
    background-color: #fff;
    border-radius: 100%;
    padding: 5px;
    object-fit: cover;
}

.btn-text-rojoku-store {
    margin: auto 8px;
}

.btn-rojoku-store img {
    width: 20px;
    height: 20px;
}

.btn-rojoku-store:hover {
    color: #fff !important;
    background-color: #28a745!important;
    border-color: #28a745!important;
}

.btn-rojoku-mart {
    color: #000!important;
    background-color: #fff;
    display: flex;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: 0.3rem 0.8rem;
    font-size: .875rem;
    margin-bottom: .5rem;
    box-shadow: 0px 0px 5px -2px rgb(0 0 0 / 75%);
}

.btn-icon-rojoku-mart {
    background-color: #ff0000;
    border-radius: 100%;
    padding: 5px;
    object-fit: cover;
}

.btn-text-rojoku-mart {
    margin: auto 8px;
}

.btn-rojoku-mart img {
    width: 20px;
    height: 20px;
    filter: invert();
}

.btn-rojoku-mart:hover {
    color: #fff !important;
    background-color: #ff0000!important;
    border-color: #ff0000!important;
}

/* Desktop */
@media (max-width:992px) {
    .btn-rojoku-store-wrapper {
        margin: 10px;
        padding: 0 15px !important;
    }
}

/* Tablet */
@media (max-width:768px) {
    .btn-rojoku-store-wrapper {
        margin: 10px;
        padding: 0 15px !important;
    }
}

/* Phone */
@media (max-width: 640px) {
    .btn-rojoku-store-wrapper {
        margin: 10px;
        padding: 0 15px !important;
    }

}
